#main { width:880px; margin:0 auto; text-align:left;}

#header {height:319px;}

/***************page-1***************/
#page-1 .row-1 .col-1 {width:457px;}
#page-1 .row-1 .col-2 {width:305px;}

/***************page-2***************/
#page-2 .row-1 .col-1 {width:304px;}
#page-2 .row-1 .col-2 {width:451px;}

/***************page-3***************/
#page-3 .row-1 .col-1 {width:460px;}
#page-3 .row-1 .col-2 {width:302px;}

/***************page-4***************/
#page-4 .row-1 .col-1 {width:304px;}
#page-4 .row-1 .col-2 {width:455px;}

/***************page-5***************/
#page-5 .row-1 .col-1 {width:457px;}
#page-5 .row-1 .col-2 {width:302px;}

#contactForm .float-l {width:224px;}
#contactForm .float-r {width:235px;}
#contactForm input {height:18px; width:214px}
#contactForm textarea {height:96px; width:224px;}

/***************page-6***************/
#page-6 .row-1 .col-1 {width:809px;}

/***************footer***************/
#footer div {width:840px; margin:0 auto; text-align:left;}