/* CSS Document */
* {margin:0; padding:0;	font-size:100%;}
body {text-align:center; background:#052345 url(images/content-tail.jpg) right bottom repeat;}
.top-tail {background:url(images/top-tail-right.jpg) left top repeat-x; position:absolute; right:0; top:0; width:50%; height:794px;}
.bottom-tail {background:url(images/top-tail-left.jpg) center top repeat-x;}

img {vertical-align:top;}
a img {border:0;}

table {border-collapse:collapse; border:0;}
#page-6 .inner table.portfolioTable {border-collapse:separate; padding-left:60px;}

html, input, textarea {font-family:Trebuchet MS, Helvetica, sans-serif; font-size:0.973em; line-height:1.184em; color:#707A87;}
input, select {vertical-align:middle; font-weight:normal;}

a {text-decoration:underline; color:#0B437A;}
a:hover {text-decoration:none;}
ul {list-style:none; padding:2px 0 0;}
ul li {background:url(images/list-marker1.gif) left 1px no-repeat; padding:1px 0 6px 22px;}
li a {font-weight:bold;}

.float-l {float:left;}
.bottom-float {float:left; text-align:center;}
.float-r {float:right;}
.clear {clear:both;}

#content .col-1,
#content .col-2,
#content .col-3 {float:left;}

.callout { padding-left:10px; padding-right:40px; padding-bottom:10px; padding-top:5px }
.callout .heading {font-weight:bold}

#main {position:relative; padding-bottom:32px;}
/***************header***************/
#header {background:url(images/header-bg.jpg) center top no-repeat;}
.logo {padding:28px 30px 79px 0px;}
#page-5 .logo {padding:28px 11px 79px 0px;}
#header li {float:left; background:none; padding:0;}
.slogan {margin-left:35px;}
/***************content***************/
.wrapper {width:100%; overflow:hidden;}
.img-indent {float:left;}
.phone {float:right; margin-right:139px;}
cite {font-style:normal;}

.row-1 .box-left {background:#FDFDFD url(images/box1-left.jpg) left top repeat-y; width:100%;}
.row-1 .box-right {background:url(images/box1-right.jpg) right top repeat-y; width:100%;}
.row-1 .box-top-left {background:url(images/box1-top-left.jpg) left top no-repeat; width:100%;}
.row-1 .box-top-right {background:url(images/box1-top-right.jpg) right top no-repeat; width:100%;}
.row-1 .box-bot-left {background:url(images/box1-bot-left.jpg) left bottom no-repeat; width:100%;}
.row-1 .box-bot-right {background:url(images/box1-bot-right.jpg) right bottom no-repeat; width:100%;}
.row-1 .inner {padding:34px 25px 47px 28px;}

.row-1, .row-2 {padding-left:1px;}

.row-1 .col-1 {padding-right:31px;}
.row-1 .col-2 {padding-left:22px; border-left:1px solid #C2C7CC;}

.row-2 .box-left-tail {background: url(images/box2-left-tail.jpg) left top repeat-y; width:100%;}
.row-2 .box-right-tail {background: url(images/box2-right-tail.jpg) right top repeat-y; width:100%;}
.row-2 .box-left {background:url(images/box2-left.jpg) left 13px no-repeat; width:100%;}
.row-2 .box-right {background:url(images/box2-right.jpg) right 13px no-repeat; width:100%;}
.row-2 .box-top-left {background:url(images/box2-top-left.jpg) left top no-repeat; width:100%;}
.row-2 .box-top-right {background:url(images/box2-top-right.jpg) right top no-repeat; width:100%;}
.row-2 .box-bot-left {background:url(images/box2-bot-left.jpg) left bottom no-repeat; width:100%;}
.row-2 .box-bot-right {background:url(images/box2-bot-right.jpg) right bottom no-repeat; width:100%;}
.row-2 .inner {padding:16px 26px 0 26px; color:#EDF3FB;}

h2 {padding:12px 0 0 28px; font-size:1.077em; line-height:1em; font-weight:normal;}
h2 a {color:#4E555D; text-decoration:underline;}
h2 a:hover {text-decoration:none;}

h3 {font-size:1.846em; line-height:1em; font-weight:normal;}
.title1 {background:url(images/title-img1.gif) 2px 5px no-repeat; padding-left:24px; color:#4E555D; padding-bottom:20px;}
.title2 {background:url(images/title-img2.gif) 2px 4px no-repeat; padding-left:27px; color:#FFFFFF; padding-bottom:13px;}
.rss {padding-bottom:16px; color:#4E555D; }
.rss img {margin:6px 0 0 8px;}

h4 {color:#707A87;}
h5 {color:#345e8a;}

.link {text-align:right; font-weight:bold; line-height:1.231em;}
.link a {color:#ADBAC7;}
a.lightlink {color:#ffffff; text-align:center}
.row-2 .link {background:url(images/link-marker2.gif) left 4px no-repeat; padding-left:20px; font-size:1.154em; line-height:1.467em;}

.row-1 p {padding-bottom:16px;}
/***************page-1***************/
#page-1 .row-1 p {padding-bottom:24px;}
#page-1 .row-1 .link a {background:url(images/link-marker1.gif) left top no-repeat; padding-left:22px;}
#page-1 .row-1 .float-r {padding-right:25px;}
#page-1 .row-2 .float-l {padding:0 35px 0 25px;}
#page-1 .row-2 .bottom-float {padding:0 35px 0 25px;}
#page-1 .row-2 .inner {padding-bottom:45px;}
#page-1 .row-2 .inner .extra {float:left; padding-left:25px;  text-align:center;}
#page-1 .row-2 .inner img {margin-bottom:20px;}
/***************page-2***************/
#page-2 .row-1 .col-2 {padding-left:15px;}
#page-2 .row-1 .col-1 h5,
#page-2 .row-2 h5,
#page-3 .row-1 h5,
#page-5 .row-1 .col-2 p,
#page-6 .row-1 p {padding-bottom:15px;}
#page-2 .row-1 .col-1 h5 a {font-weight:normal;}
#page-2 .row-1 .link {padding-top:11px;}
#page-2 .row-1 .col-2 h5 {padding-bottom:17px;}
#page-2 .row-1 .img-indent {margin:5px 23px 0 0;}
#page-2 .row-1 ul {padding:8px 0 0;}
#page-2 .row-1 .float-l {padding-left:7px;}
#page-2 .row-2 .inner {padding-bottom:33px;}
#page-2 .row-2 .img-indent {margin:0 35px 17px 20px;}
#page-2 .row-2 p {padding-bottom:1px;}
#page-2 .row-2 .link {margin-left:25px;}
/***************page-3***************/
#page-3 .row-1 .col-1 {padding-right:28px;}
#page-3 .row-1 .inner {padding-bottom:31px;}
#page-3 .row-1 .title1,
#page-6 .row-1 .title1 {padding-bottom:21px;}
#page-3 .row-1 .col-1 .wrapper {padding-top:12px;}
#page-3 .row-1 .col-1 .img-indent {margin:0 22px 0 0; }
#page-3 .row-1 .col-2 h5 {padding-top:1px;}
#page-3 .row-1 ul {padding:5px 0 16px;}
#page-3 .row-1 .link {padding-top:3px;}
/***************page-4***************/
#page-4 .row-1 .inner {padding-bottom:48px;}
#page-4 .row-1 .col-1 h5 {padding-bottom:16px;}
#page-4 .row-1 .col-1 .wrapper h5 {padding-bottom:0;}
#page-4 .row-1 .col-1 .wrapper p {padding-bottom:18px;}
#page-4 .row-1 .col-1 .wrapper {padding-top:8px;}
#page-4 .row-1 .col-1 .img-indent {margin-right:16px;}
#page-4 .row-1 .col-2 h5 {padding-bottom:16px;}
#page-4 .row-1 .col-2 .wrapper {padding-top:8px;}
#page-4 .row-1 .col-2 .img-indent {margin:0 22px 0 -18px;}
#page-4 .row-2 .inner {padding:16px 26px 41px 29px;}
#page-4 .row-2 p {padding-bottom:22px;}
#page-4 .row-2 .float-l {padding-right:49px;}
#page-4 .row-2 .float-r {padding-right:7px;}
#page-4 .row-2 ul li {background:url(images/list-marker2.gif) left 1px no-repeat;}
/***************page-5***************/
#page-5 .row-1 .col-1 .wrapper {padding:2px 0 23px;}
#page-5 .row-1 .img-indent {margin-right:13px;}
#page-5 .row-1 .col-1 .wrapper p {padding-bottom:14px;}
#page-5 .row-1 .block {padding:29px 0 0;}
#page-5 .row-1 .block .wrapper {padding:0;}
#contactForm {padding:5px 0 2px;}
#contactForm .float-l div {height:26px;}
#contactForm input, #contactForm textarea {font-size:1em; line-height:1em; color:#707A87; background:#FDFDFD; border:1px solid #707A87; padding:1px 0 0 6px;}
#contactForm textarea {overflow:hidden; margin-bottom:16px;}
.button {text-align:right;}
.button a {margin-left:16px; font-weight:bold; color:#ADBAC7;}
#page-5 .row-1 .col-2 .title1 {padding-bottom:22px;}
/***************page-6***************/
#page-6 .row-1 .inner {padding:30px 25px 54px 28px;}
#page-6 .row-1 a {line-height:1.308em;}
/***************footer***************/
#footer {border-top:1px solid #20436B; color:#FFFFFF; text-align:center; background:#052345;}
#footer div {padding:21px 0;}
#footer a {border-left:1px solid #FFFFFF; margin-left:7px; padding-left:7px; font-weight:bold;}