HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, SunSans-Regular, Sans-Serif; BACKGROUND-COLOR: #ffffff
}
P {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
H2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
PRE {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
A {
	FONT-SIZE: 11px; COLOR: #448; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
PRE {
	FONT-SIZE: 11px; COLOR: #564b47; FONT-FAMILY: Courier, Monaco, Monospace; BACKGROUND-COLOR: transparent
}
.alignright {
	MARGIN-TOP: 0px; FONT-SIZE: 10px; TEXT-ALIGN: right
}
H2 {
	FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; COLOR: #564b47; PADDING-TOP: 10px; BACKGROUND-COLOR: transparent
}
H1 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #FFFFFF; PADDING-TOP: 5px; BACKGROUND-COLOR: #015b8f; TEXT-ALIGN: left
}
STRONG {
	FONT-SIZE: 13px
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px dotted; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#left {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-LEFT: 25px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 60%; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 70%; BACKGROUND-COLOR: #e7e7e7
}
#right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 783px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; COLOR: #564b47; PADDING-TOP: 0px; POSITION: absolute; TOP: 100px
}
#chromemenu {
	WIDTH: 100%; HEIGHT: 25px
}
#chromemenu:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#chromemenu UL {
	BORDER-RIGHT: #bbb 0px solid; BORDER-TOP: #bbb 0px solid; PADDING-LEFT: 0px; BACKGROUND: url(../images/chromebg8.gif) repeat-x center center; FLOAT: left; MARGIN: 0px; FONT: bold 12px Verdana; BORDER-LEFT: #bbb 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 1px solid
}
#chromemenu UL LI {
	DISPLAY: inline
}
#chromemenu UL LI A, #chromemenu UL LI DIV {
	PADDING-RIGHT: 12px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 6px; COLOR: #000000; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#chromemenu UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #06598f
}
UNKNOWN {
	content: " "
}
.dropmenudiv {
	BORDER-RIGHT: #bbb 0px solid; BORDER-TOP: #bbb 0px solid; Z-INDEX: 100; VISIBILITY: hidden; FONT: 12px/18px Verdana; BORDER-LEFT: #bbb 0px solid; WIDTH: 200px; COLOR: #ffffff; BORDER-BOTTOM: #bbb 0px solid; POSITION: absolute; TOP: 0px
}
.dropmenudiv A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; WIDTH: 100%; COLOR: #ffffff; TEXT-INDENT: 30px; PADDING-TOP: 2px; BACKGROUND-COLOR: #06598f; TEXT-DECORATION: none
}
.dropmenudiv A:hover {
	BACKGROUND-COLOR: #95c4de
}
.tabberlive .tabbertabhide {
	DISPLAY: none;
    position: relative;
}
.tabber {
	position: relative;
}
.tabbertab {
    position: relative;
}
.tabberlive {
	MARGIN-TOP: 1em;
    position: relative;
}
UL.tabbernav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 12px Verdana, sans-serif; PADDING-TOP: 3px; BORDER-BOTTOM: #778 1px solid
}
UL.tabbernav LI {
	DISPLAY: inline; MARGIN: 0px; LIST-STYLE-TYPE: none
}
UL.tabbernav LI A {
	BORDER-RIGHT: #778 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #778 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #dde; PADDING-BOTTOM: 3px; MARGIN-LEFT: 3px; BORDER-LEFT: #778 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #778 1px; TEXT-DECORATION: none
}
UL.tabbernav LI A:link {
	COLOR: #448
}
UL.tabbernav LI A:visited {
	COLOR: #667
}
UL.tabbernav LI A:hover {
	BORDER-LEFT-COLOR: #227; BACKGROUND: #aae; BORDER-BOTTOM-COLOR: #227; COLOR: #000; BORDER-TOP-COLOR: #227; BORDER-RIGHT-COLOR: #227
}
UL.tabbernav LI.tabberactive A {
	BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
UL.tabbernav LI.tabberactive A:hover {
	BACKGROUND: white; COLOR: #000; BORDER-BOTTOM: white 1px solid
}
.tabberlive .tabbertab {
    position: relative;
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid
}
.tabberlive .tabbertab H2 {
	DISPLAY: none
}
.tabberlive .tabbertab H3 {
	DISPLAY: none
}
.tabberlive#tab1 {
	
}
.tabberlive#tab2 {
	
}
.tabberlive#tab2 .tabbertab {
	OVERFLOW: auto; HEIGHT: 200px
}

.newsLinkTitle{
    font-weight: bold;
    font-size: 12px;
}

.newsDescription {
    margin-bottom:20px;
}